
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.img{
    width: 30%;
    position: absolute;
    z-index: -1;
    font-family: 'Lora', serif;
    color: whitesmoke;
    object-fit: fill;
    height: 100%;
    
   
}
.logo{
   margin-top: 2.1rem;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.inside{
    width:25%;
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    color:whitesmoke;
    font-family: 'Lora', serif;
    justify-content: center;
    height: 100%;
}
.rate{
    display: flex;
    font-size: x-small;
    justify-content: space-around;
    width: 100%;
}
.address{
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-size: medium;
    color: white;
    margin-left: 10px;
}
.gs{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.tdy{
    color: rgba(221, 221, 29, 0.667);
}